@import url('semantic-ui-css/semantic.min.css');

:root {
  --black: #393B44;
  --dark: #424874;
  --blue: #0074E4;
  --shadow: 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.12);
  --border: 1.7px solid rgba(68, 68, 68, 0.17);
  --border-radius: 5px;
  --font-family: 'Roboto', sans-serif;
}

.App {
  min-height: 1000px;
  width: 100%;
}

body {
  font-family: var(--font-family)
}

.padding{
  margin-top: 100px;
  height: 100%;
}